{% extends "layout.html" %}


    {% block content %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages%}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Ciudad Residencia</th>
            <th scope="col">Barrio</th>
            <th scope="col">Celular</th>
            <th scope="col">Fecha Cita</th>
          </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{appointment.0}}</td>
                    <td>{{appointment.1}}</td>
                    <td>{{appointment.2}}</td>
                    <td>{{appointment.3}}</td>
                    <td>{{appointment.4}}</td>
                    <td>{{appointment.5}}</td>
                    <td>{{appointment.6}}</td>
                    <td>{{appointment.7}}</td>
                    <td>{{appointment.8}}</td>
                    <td>
                      <a href="/editappointment/{{ appointment.0 }}">edit</a>
                      <a href="/delete/{{appointment.0}}">delete</a>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
      </table>
    
    {% endblock %}
